<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인페이지</title>
  <!-- localhost:4000/public/ 다음 경로로 생각하면 됨 -->
  <link rel="stylesheet" href="/css/style.css">
  <script defer src="/js/main.js"></script>
</head>
<body>
  <h1>메인페이지</h1>
  <p><%= msg %></p>
  <img src="/img/cat.jpeg" alt="고양이">
</body>
</html>